<div class="comeco-cinza">
	<h1>
		Sobre Nós
	</h1>
</div>

<div class="limitador">

	<div class="my-5 px-3 fundo-especial canto-redondo">
		<h1>Nossa <br>História</h1>

		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
					<img class="canto-redondo-img" src="public/img/image.png" alt="">
				</div>
				<div class="col-md-6">
					<p>
						A Agro-Data foi fundada por Isabelle Dib, uma estudante de Sistemas de Informação que sempre teve uma forte conexão com o campo.
					</p>
					<p>
						Com uma paixão por tecnologia e dados, ela desenvolveu a ideia de criar sensores capazes de coletarem informações detalhadas e em tempo real sobre o solo e as condições climáticas das plantações.
					</p>
					<p>
						A Agro-Data cresceu rapidamente ao demonstrar que seus sensores não apenas ajudam os agricultores a otimizar a irrigação e os cuidados com o solo, mas também a prever melhor as colheitas e gerenciar recursos de forma sustentável.
					</p>
				</div>
			</div>
		</div>

	</div>

	<div class="row py-5">
		<div class="col-md-4">
			<div class="bg-escuro canto-redondo py-3 px-3 mvv">
				<h3 class="centralizar pb-2">MISSÃO</h3>
				<p>
					Proporcionar soluções tecnológicas acessíveis e inovadoras que ajudem os agricultores a gerenciar suas terras de forma mais eficiente, sustentável e lucrativa, por meio da coleta e análise de dados em tempo real.
				</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="fundo-rosa canto-redondo py-3 px-3 mvv">
				<h3 class="centralizar pb-2">VISÃO</h3>
				<p>
					Ser referência global em tecnologia para o setor agrícola, impulsionando a adoção de práticas mais inteligentes e sustentáveis na agricultura e fortalecendo a competitividade dos pequenos e médios produtores rurais.
				</p>
			</div>
		</div>
		<div class="col-md-4">
			<div class="bg-escuro canto-redondo py-3 px-3 mvv">
				<h3 class="centralizar pb-2">VALORES</h3>
			<ul>
				<li>Inovação</li>
				<li>Sustentabilidade</li>
				<li>Foco no Cliente</li>
				<li>Qualidade</li>
				<li>Parceria</li>
			</ul>
		</div>
	</div>

</div>
